[submodule "vendor/freestanding-rt"]
	path = vendor/freestanding-rt
	url = https://github.com/evanacox/freestanding-rt/
[submodule "vendor/etl"]
	path = vendor/etl
	url = https://github.com/ETLCPP/etl
